.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
}
.btn:hover {
  color: #ffffff;
  background: #222222;
  border-color: #222222;
}
.btn:active,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-primary {
  background: hsl(170, 2%, 52%);
  border-color: hsl(170, 2%, 52%);
}
.btn.btn-primary:hover {
  background: hsl(170, 2%, 65%);
  border-color: hsl(170, 2%, 65%);
}
.btn.btn-secondary {
  color: hsl(0, 0%, 20%);
  background: hsl(0, 0%, 100%);
  border-color: hsl(43, 95%, 57%);
}
.btn.btn-secondary:hover {
  background: hsl(43, 94%, 52%);
  border-color: hsl(43, 94%, 52%);
}
.btn.btn-white-outline {
  background: transparent;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.3);
}
.btn.btn-white-outline:hover {
  border-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}
