.custom-navbar1 {
  background: hsl(0, 0%, 0%) !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.custom-navbar1 .navbar-brand {
  font-size: 32px;
  font-weight: 600;
}
.custom-navbar1 .navbar-brand > span {
  opacity: 0.4;
}
.custom-navbar1 .navbar-toggler {
  border-color: transparent;
}
.custom-navbar1 .navbar-toggler:active,
.custom-navbar1 .navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.custom-navbar1 .custom-navbar-cta {
  margin-left: 0 !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 768px) {
  .custom-navbar1 .custom-navbar-cta {
    margin-left: 40px !important;
  }
}
.custom-navbar1 .custom-navbar-cta li {
  margin-left: 0px;
  margin-right: 0px;
}
.custom-navbar1 .custom-navbar-cta li:first-child {
  margin-right: 20px;
}
.custom-navbar1 .search-bar {
  flex-grow: 1;
  max-width: 600px;
}
.search-input {
  width: 100%;
}

.custom-navbar2 .navbar-nav {
  padding-left: 10px;
}
.custom-navbar2 .nav-link {
  padding: 8px 15px;
}
.custom-navbar2 {
  background: hsl(160, 4%, 44%);
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Condensed, sans-serif;
}
